<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nju.sphm" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".Controller.LoginActivities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.LoginActivities.ChooseSchoolActivity"
            android:label="@string/title_activity_choose_school" >
        </activity>
        <activity
            android:name=".Controller.ChooseProjectsActivities.ChooseTestProject"
            android:label="@string/title_activity_choose_test_project" >
        </activity>
        <activity
            android:name=".Controller.TableActivities.TableActivity"
            android:label="@string/title_activity_table" >
        </activity>
        <activity
            android:name=".Controller.TimerActivities.TimerActivity"
            android:screenOrientation="portrait"> </activity>
        <activity
            android:name=".Controller.CountDownTimerActivities.CountDownTimerActivity"
            android:screenOrientation="portrait"> </activity>
        <activity
            android:name=".Controller.TimerActivities.TimeRecordActivity"
            android:screenOrientation="portrait"> </activity>
    </application>

</manifest>
